name: CI
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  dependabot:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@main
        with:
          github-token: ${{ secrets.MERGE_PR }}
          target: minor
